

.carousel-slider {
    height: 495px !important;
}

.carousel-slider

.carousel-item {
    height: 500px; 
}

.imglogo {
     content: url('../img/logomoviein.png');
     margin-top: 8px;
     height: 48px;
     width: 146px;
}


.noticia {
    padding: 10px;
    background-color: rgba(0,0,0,0.4);
}
.noticia .noticia-imagem {
    /*background-color: blue;*/
    text-align: center;
    margin-top: 22px;
    
}
.noticia .noticia-imagem img {
    width: 200px;
}

.filme {
    margin-bottom: 10px;
    cursor: pointer;
    
}
.filme img {
    width: 100%;
    filter: brightness(70%);
    transition: 0.5s;
}
.filme img:hover {
    filter: brightness(100%);
}


.sanduiche {
    color: #b71c1c;
}

.sobre {
    padding: 20px;
    background-color: rgba(0,0,0,0.4);
}

.sobre .sobre-imagem {
    /*background-color: blue;*/
    text-align: center;
    margin-top: 22px;
 
}

.sobre .sobre-imagem img {
    width: 200px;
}

