.filme {
    margin-bottom: 10px;
}
.filme img {
    width: 100%;
    filter: brightness(70%);
    transition: 0.5s;
}
.filme img:hover {
    filter: brightness(100%);
}

.sanduiche {
    color: #b71c1c;
}